/* .App {
  text-align: center;
} */

.main-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

  background-color: beige;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

h1 {
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

